*{
  margin: 0;
  padding: 0;
}

.header {
    background-color: mediumslateblue;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 100%;
    position: sticky;
    top: 0px;
    padding: 20px;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .nav ul {
    list-style: none;
    display: flex;
  }
  
  .nav li {
    margin-right: 1rem;
    padding: 0px 20px;
  }
  
  .nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
  }
  
  .nav a:hover {
    text-decoration: underline;
  }
  